{{ define "main" }}
<section class="post">
  {{ with .Content }}<div class="post-content">{{ . }}</div>{{ end }}

  {{ $comics := (where .Site.RegularPages "Type" "comic").ByDate.Reverse }}
  {{ if gt (len $comics) 0 }}
    <div id="comic-feed">
      {{ $latest := index $comics 0 }}
      {{ partial "episode.html" (dict "page" $latest "feed" true) }}
      {{ partial "feed-sentinel.html" $latest }}
    </div>
    {{ partial "comic-assets.html" . }}
  {{ else }}
    <p>No comics yet. Check back soon.</p>
  {{ end }}
</section>
{{ end }}
